# Python_Crash_Course_4

In [1]:
def times2(var):
    return var*2

In [2]:
x = times2(3)

In [3]:
print (x)

6

In [4]:
## map ()

In [5]:
seq = [1,2,3,4,5]

In [6]:
map(times2,seq)

In [7]:
x_list = list(map(times2,seq))

In [8]:
print(x_list)

[2, 4, 6, 8, 10]

In [12]:
## lambda

In [13]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [18]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [19]:
##String functions

In [20]:
s = "hello my name is Sam"

In [21]:
s.lower()

'hello my name is same'

In [22]:
s.upper()

'HELLO MY NAME IS SAME'

In [23]:
s.split()

['hello', 'my', 'name', 'is', 'Same']

In [24]:
s.split('m')

['hello ', 'y na', 'e is Sa', 'e']

In [25]:
tweet = "Go sports! #sports"

In [28]:
tweet.split("#")[1]

'sports'